<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <%if (user){%>
            <li><a href="/recipes"> view my recipes</a></li>
            <li><a href="/auth/singout"> Sign out</a></li>
            <%} else { %>
                <li><a href="/auth/sign-up.ejs"></a></li>
                <li><a href="/auth/sign-in.ejs"></a></li>
                <% }%>
    </ul>
</nav>